# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# Node / Frontend
node_modules/
dist/
build/
.npm/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# GCP
*.json
credentials.json
key.json
